
@import 'https://fonts.googleapis.com/css?family=Righteous';

html, body {
  overflow: auto;
  background: #131313;
  
}
p{
    color: #02d43d;
    font-family: 'Press Start 2P', cursive;
}
.selector{
    font-family: 'Press Start 2P', cursive;
    color: #02d43d;
    padding:1%;
    border-style: solid;
    border-color:#02d43d;
}
.specialtext {
    width:100%;
    height:50%;
    position: relative;
}
#canvas{
    margin-top: -3%;
}
#text {
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    
    /* font-family: Righteous; */
}
.footer-text{
    color:#ffffff;
    font-family: 'Press Start 2P', cursive;
}
#fill {
  animation: shift 5s linear infinite;
}
#winstate{
    margin-top:-15%;
    font-size: 50px;
}
#guessspot{
    font-size: 15px;
}
#guesscounter{
    font-size:12px;
    
}
#correctguesses{
    font-size:12px;
    margin-bottom: 10%;
}
footer{
    background: url(../images/dark-honeycomb.png);
    background-repeat: repeat;
    position: relative;
    display:block;
    border-top:2%;
    border-top-style:solid;
    border-top-color: #ffffff;
    padding:1%;
    width:100%;
    
    text-align:center;
    clear:both;

}
.navbar{
    position:relative;
    margin-top: -10%;
}
@keyframes shift {
  0% { x: 0; }
  100% { x: -2000; }
}
