
@import 'https://fonts.googleapis.com/css?family=Righteous';

html, body {
  overflow: hidden;
  background: #131313;
}
.selector{
    font-family: 'Press Start 2P', cursive;
    color: #02d43d;
}
.specialtext {
    width:80%;
    height:60%;
    position: relative;
}

#text {
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    /* font-family: Righteous; */
}

#fill {
  animation: shift 5s linear infinite;
}
#winstate{
    font-size: 80px;
}
#guessspot{
    font-size: 20px;
}
@keyframes shift {
  0% { x: 0; }
  100% { x: -2000; }
}
